@import "../scss/global-style";
@import "../scss/rest";
@import "../scss/wrapper";
@import "../scss/header";

// ======== main content ========
@import "../scss/main-banner";
@import "../scss/main-tabs";
@import "../scss/main-coming-soon";
@import "../scss/main-carousel-course";
@import "../Glider/glider";
@import "../scss/main-about-video";

//footer
@import "../scss/footer";
